button:hover {
  /* background-color: #181818; */
  /* transition: 0.5s all ease-out; */
  outline: 1px solid aquamarine;
}

input{
  padding: 5px;
}
input:hover {
  /* background-color: #181818; */
  /* transition: 0.5s all ease-out; */
  outline: 1px solid aquamarine;
}